# Always CRLF line-endings

*.sln text eol=crlf
*.csproj text eol=crlf

# Diff settings

*.cs     diff=csharp text 
*.vb     text
*.ttf     -text diff
*.eot     -text diff
*.woff    -text diff
*.woff2   -text diff