<!DOCTYPE html>
<html data-ng-app="cardApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,minimal-ui,user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lykke Visa Card</title>
    <meta name="description" content="The new Lykke Card: the quickest way to access your new assets">
    <link rel="apple-touch-icon" href="apple-touch-icon.png" sizes="180x180">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">

    @RenderSection("Head", required: false)

    <environment include="Development">
        <link href="~/css/styles.css" rel="stylesheet" />
        <link href="~/css/styles-custom.css" rel="stylesheet" />
    </environment>
    <environment include="Staging,Production">
        <link href="~/dist/site.min.css" rel="stylesheet" />
    </environment>
</head>
<body>
    @Html.Partial("_Menu")
    @RenderBody()

    <environment include="Development">
        <script src="~/vendor/jquery.min.js"></script>
        <script src="~/vendor/bootstrap.min.js"></script>
        <script src="~/vendor/angular.min.js"></script>
        <script src="~/vendor/qrcode.js"></script>
        <script src="~/vendor/angular-qrcode.js"></script>
        <script src="~/js/app/services/contracts/visaCard.js"></script>
        <script src="~/js/app/services/contracts/cardRequest.js"></script>
        <script src="~/js/app/services/contracts/visaSettings.js"></script>
        <script src="~/js/app/services/cardService.js"></script>
        <script src="~/js/app/services/subscribeService.js"></script>
        <script src="~/js/app/controllers/cardController.js"></script>
        <script src="~/js/app/controllers/subscribeController.js"></script>
        <script src="~/js/app/cardModule.js"></script>
    </environment>
    <environment include="Staging,Production">
        <script src="~/dist/site.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
