<div data-ng-controller="CardController as vm" class="all-height">
    <section class="section section_lead" id="lead">
        <div class="container">
            <div class="row">
                <div class="col-md-6 automargin">
                    <h2>My Lykke Prepaid Сards</h2>
                    <div class="spinner_container" data-ng-hide="!vm.pageState.loading">
                        <div class="spinner"></div>
                    </div>
                    <div class="card_list ng-hidden" data-ng-hide="vm.pageState.loading || vm.data.cards.length">
                        <div class="card_item">
                            <div class="card_preview">
                                <div class="card_preview__front">
                                    <img src="images/card.png" alt="card" width="500" class="card_preview__image">
                                    <div class="card_preview__label"></div>
                                    <div class="card_preview__info">
                                        <div class="card_preview__number">
                                            <span class="card_mask">
                                                <span class="card_mask__group">&middot;&middot;&middot;&middot;</span>
                                                <span class="card_mask__group">&middot;&middot;&middot;&middot;</span>
                                                <span class="card_mask__group">&middot;&middot;&middot;&middot;</span>
                                                <span class="card_mask__group">&middot;&middot;&middot;&middot;</span>
                                            </span>
                                        </div>
                                        <div class="card_preview__date">00/00</div>
                                        <div class="card_preview__name">Cardholder name</div>
                                    </div>
                                </div>
                                <div class="card_preview__back"></div>
                            </div>
                            <div class="card_actions"></div>
                        </div>
                    </div>
                    <div slick init-onload="true" data="vm.data.cards" class="card_list slick-slider ng-hidden"
                         infinite="false" speed="300" slides-to-show="1" slides-to-scroll="1" variable-width="true" data-ng-hide="vm.pageState.loading" data-ng-if="vm.data.cards.length">
                        <div class="card_item" data-ng-repeat="card in vm.data.cards">
                            <div class="card_preview" data-ng-class="{'card_preview--flipped': card.flipped}">
                                <div class="card_preview__front">
                                    <img src="images/card.png" alt="card" width="500" class="card_preview__image">
                                    <div class="card_preview__label">
                                        <span class="label" data-ng-class="{'label--blue': card.status === 'Activated' && card.cardType === 'Virtual', 'label--yellow': card.status === 'NeedPayment' || card.status === 'Pending'}" data-ng-hide="card.status === 'Activated'" data-ng-bind="vm.getCardStatusName(card)"></span>
                                    </div>
                                    <div class="card_preview__info">
                                        <div class="card_preview__number">
                                            <span class="card_mask">
                                                <span class="card_mask__group">&middot;&middot;&middot;&middot;</span>
                                                <span class="card_mask__group">&middot;&middot;&middot;&middot;</span>
                                                <span class="card_mask__group">&middot;&middot;&middot;&middot;</span>
                                                <span class="card_mask__group" data-ng-class="{'card_mask__group--fill': card.pan}" data-ng-bind="card.pan ? card.pan : '&middot;&middot;&middot;&middot;'"></span>
                                            </span>
                                        </div>
                                        <div class="card_preview__date" data-ng-bind="card.expiryDate"></div>
                                        <div class="card_preview__name" data-ng-bind="card.nameOnCard"></div>
                                    </div>
                                </div>
                                <div class="card_preview__back">
                                    <div class="back_container">
                                        <div class="back_title">Activate</div>
                                        <div class="back_text">
                                            Activate the card to access all available functions. You have three attempts.
                                        </div>
                                        <form class="form form--simple">
                                            <div class="form-group">
                                                <label for="code" class="control-label">Last 4 digits on the card</label>
                                                <div class="relative">
                                                    <div class="pull-right">
                                                        <button type="button" class="btn btn--primary _flip_card" data-ng-click="vm.activateCard(card)" data-ng-disabled="vm.activateCardForm.loading">
                                                            <span class="spinner spinner--small" data-ng-show="vm.activateCardForm.loading"></span> <span data-ng-hide="vm.activateCardForm.loading">Submit</span>
                                                        </button>
                                                    </div>
                                                    <div class="relative__input">
                                                        <input type="text" maxlength="4" class="form-control"
                                                               data-ng-class="{'error': vm.activateCardForm.message}"
                                                               data-ng-model="vm.activateCardForm.pan">
                                                    </div>
                                                </div>
                                                <div class="hint hint--error" data-ng-bind="vm.activateCardForm.message"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card_actions">
                                <div class="card_actions__item card_actions__item--active" data-ng-show="card.status === 'NeedPayment'" data-ng-click="vm.payCard(card.id)">
                                    <a href="">
                                        <i class="icon icon--pay"></i>
                                        <span>Pay</span>
                                    </a>
                                </div>
                                <div class="card_actions__item card_actions__item--active" data-ng-show="card.status === 'Issued'" data-ng-click="vm.toggleActivate(card)">
                                    <a href="">
                                        <i class="icon icon--activate"></i>
                                        <span data-ng-bind="card.flipped ? 'Cancel' : 'Activate'"></span>
                                    </a>
                                </div>
                                <div class="card_actions__item card_actions__item--active" data-ng-click="vm.showPinModal(card)" data-ng-if="card.status !== 'NeedPayment' || card.status !== 'Pending'">
                                    <a href="">
                                        <i class="icon icon--show_pin"></i>
                                        <span>Show PIN</span>
                                    </a>
                                </div>
                                <div class="card_actions__item card_actions__item--active" data-ng-click="vm.showBlockModal(card);" data-ng-if="card.status == 'Activated' || card.status == 'Blocked'">
                                    <a href="">
                                        <i class="icon icon--block" data-ng-class="{'icon--block': card.status == 'Activated', 'icon--unblock': card.status == 'Blocked'}"></i>
                                        <span data-ng-bind="card.status == 'Activated' ? 'Block card' : 'Unblock card'"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card_footer ng-hidden" data-ng-hide="vm.pageState.loading">
                        <a href="#add" class="btn btn--primary" data-ng-click="vm.addCardDisabled() || vm.addCard()" data-ng-disabled="vm.addCardDisabled()" disabled="disabled">Add card</a>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="section section--card_form ng-hidden" id="add" data-ng-if="vm.pageState.action">
        <div class="container">
            <div class="row" data-ng-if="vm.pageState.action === 'add'">
                <div class="col-md-11 col-md-offset-1">
                    <div class="section_title">New LykkeCard</div>
                    <h3>Card info</h3>

                    <div class="row">
                        <div class="col-md-7">
                            <form class="form form--simple" name="vm.newCardForm.form" novalidate>
                                <div class="radio-group">
                                    <div class="radio radio--plate">
                                        <input type="radio" id="r1" data-ng-model="vm.newCardForm.newCard.cardType" value="Plastic" data-ng-click="vm.updateFee()">
                                        <label for="r1" class="control-label">
                                            <i class="icon icon--plastic_card"></i>
                                            <span class="radio__title">Plastic</span>
                                            <span class="hint" data-ng-class="{'free': vm.data.settings.isCardCreationFree}" data-ng-bind="vm.data.settings.isCardCreationFree ? 'Free' : vm.data.fees.plasticCreation + ' ' + vm.newCardForm.newCard.currency"></span>
                                        </label>
                                    </div>
                                    <div class="radio radio--plate">
                                        <input type="radio" id="r2" data-ng-model="vm.newCardForm.newCard.cardType" value="Virtual" data-ng-click="vm.updateFee()">
                                        <label for="r2" class="control-label">
                                            <i class="icon icon--virtual_card"></i>
                                            <span class="radio__title">Virtual</span>
                                            <span class="hint" data-ng-bind="vm.data.fees.virtualCreation + ' ' + vm.newCardForm.newCard.currency"></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label">Type of payment system</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <div class="radio btn-block" data-ng-repeat="currency in vm.data.settings.availableCurrencies">
                                                <input type="radio" id="radio{{$index}}" class="radio__control" data-ng-model="vm.newCardForm.newCard.currency" data-ng-value="currency" data-ng-click="vm.updateFee()">
                                                <label for="radio{{$index}}" class="form-control control-label radio__label" data-ng-bind="currency"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="card_name" class="control-label">Name on the card</label>
                                    <input type="text" class="form-control" id="card_name" data-ng-model="vm.newCardForm.newCard.nameOnCard" maxlength="22" required>
                                </div>

                                <div data-ng-show="vm.newCardForm.newCard.cardType == 'Plastic'">
                                    <h3>Delivery info</h3>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="card_name" class="control-label">Delivery option</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="radio btn-block">
                                                    <input type="radio" id="delivery1" class="radio__control" data-ng-model="vm.newCardForm.newCard.deliveryType" value="StandardTrackableDelivery" data-ng-click="vm.updateFee()">
                                                    <label for="delivery1" class="form-control control-label radio__label">
                                                        <span class="hint pull-right">7-13 days ({{vm.newCardForm.newCard.currency}} {{vm.data.fees.standard}})</span>
                                                        <span class="radio__title">Standard</span>
                                                    </label>
                                                </div>
                                                <div class="radio btn-block">
                                                    <input type="radio" id="delivery2" class="radio__control" data-ng-model="vm.newCardForm.newCard.deliveryType" value="ExpressDelivery" data-ng-click="vm.updateFee()">
                                                    <label for="delivery2" class="form-control control-label radio__label">
                                                        <span class="hint pull-right">3-5 days ({{vm.newCardForm.newCard.currency}} {{vm.data.fees.express}})</span>
                                                        <span class="radio__title">Express</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <a href="@Url.Action("Countries", "Home")" class="hint pull-right" target="_blank">View list of eligible countries</a>
                                        <label for="countries" class="control-label">
                                            Country
                                        </label>
                                        <div class="select">
                                            <select id="countries" class="form-control form-control--select"
                                                    data-ng-options="country.iso2 as country.name for country in vm.data.settings.availableCountries track by country.iso2"
                                                    data-ng-model="vm.newCardForm.newCard.deliveryAddress.country" required></select>
                                            <i class="icon icon--arrow-down"></i>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="city" class="control-label">City</label>
                                                <input type="text" class="form-control" id="city" data-ng-model="vm.newCardForm.newCard.deliveryAddress.city" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="zip" class="control-label">ZIP</label>
                                                <input type="text" class="form-control" id="zip" data-ng-model="vm.newCardForm.newCard.deliveryAddress.zipCode" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="address" class="control-label">Address line</label>
                                        <input type="text" class="form-control" id="address" data-ng-model="vm.newCardForm.newCard.deliveryAddress.address" required>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <input type="checkbox" name="agree" data-ng-model="vm.newCardForm.agree" required>
                                        <label for="agree" class="control-label checkbox__label">I agree with <a href="~/media/terms-and-conditions.pdf" target="_blank">Terms and Conditions</a></label>
                                    </div>
                                </div>

                                <div class="submit-group">
                                    <button type="button" class="btn btn-block btn--primary btn-sm" data-ng-disabled="vm.isProceedDisabled()" data-ng-click="vm.proceed()">
                                        <span class="spinner spinner--small" data-ng-show="vm.newCardForm.processing"></span> <span data-ng-hide="vm.newCardForm.processing">Proceed</span>
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="col-xs-12 col-md-5">
                            <div class="total">
                                <div class="total__header">
                                    <div class="total__price" data-ng-bind="vm.data.fees.total + ' ' + vm.newCardForm.newCard.currency"></div>
                                    <div class="total__title">Total price</div>
                                    <div class="total__hint">Payment only via a Lykke Wallet app</div>
                                </div>

                                <div class="checklist">
                                    @*<div class="checkbox checkbox--checked">
                                            <label class="control-label">
                                                <span>You downloaded Lykke Wallet</span>
                                                <a href="/" class="btn btn--flat">Download</a>
                                            </label>
                                        </div>*@
                                    <div class="checkbox checkbox--checked">
                                        <label class="control-label">
                                            <span>You passed KYC</span>
                                            <a href="/" class="btn btn--flat">Go to KYC procedure</a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" data-ng-if="vm.pageState.action === 'error'">
                <div class="alert_message">
                    <div class="alert_message__icon">
                        <img src="images/info_icn.svg" alt="info" width="64" height="64">
                        <!--<img src="images/error_icn.svg" alt="error" width="64" height="64">-->
                        <!--<img src="images/success_icn.svg" alt="success" width="64" height="64">-->
                    </div>
                    <div class="alert_message__title" data-ng-bind="vm.pageState.error"></div>
                    <div class="alert_message__links">
                        <a href="https://kyc-dev.lykkex.net">
                            <img src="images/play_black_icn.svg" width="24" height="24" alt="video">
                            <span>Process KYC here</span>
                        </a>
                    </div>
                    <div class="alert_message__button">
                        <a href="#" class="btn btn--primary" data-ng-click="vm.backToMainScreen()">Go back to My LykkeCards</a>
                    </div>

                    <div class="alert_message__footer">
                        <p>If you have any other problem contact our support: <a href="mailto:support@lykke.com">support@lykke.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal modal--message fade" id="modal_qrcode" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal_valign">
            <div class="modal_valign__row">
                <div class="modal_valign__cell">

                    <div class="modal__dialog" role="document">
                        <div class="modal__content">
                            <button type="button" class="close visible-xs" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                            <div class="modal__body">
                                <h3>Payment confirmation</h3>
                                <div class="text">
                                    Instruction here<br />
                                    <div class="spinner_container" data-ng-show="vm.qrCodeForm.loading">
                                        <div class="spinner spinner--dark"></div>
                                    </div>
                                    <qrcode size="250" data="{{vm.qrCodeForm.qrcode}}" data-ng-hide="vm.qrCodeForm.loading"></qrcode>
                                </div>
                            </div>
                            <div class="modal__footer">
                                <a href="#" class="btn btn--flat" data-dismiss="modal" data-ng-click="vm.backToMainScreen();">Close</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal--message fade" id="modal_error" tabindex="-1" role="dialog">
        <div class="modal_valign">
            <div class="modal_valign__row">
                <div class="modal_valign__cell">

                    <div class="modal__dialog" role="document">
                        <div class="modal__content">
                            <button type="button" class="close visible-xs" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                            <div class="modal__body">
                                <h3>Error</h3>
                                <div class="text" data-ng-bind="vm.pageState.generalError"></div>
                            </div>
                            <div class="modal__footer">
                                <button type="button" class="btn btn--flat" data-dismiss="modal">Okay :(</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal--message fade" id="modal_showPin" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal_valign">
            <div class="modal_valign__row">
                <div class="modal_valign__cell">

                    <div class="modal__dialog" role="document">
                        <div class="modal__content">
                            <button type="button" class="close visible-xs" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                            <div class="modal__body">
                                <h3 data-ng-bind="vm.pageState.card.cardType == 'Plastic' ? 'View pin' : 'View card details'"></h3>
                                <div class="spinner_container" data-ng-show="vm.viewPinForm.loading">
                                    <div class="spinner spinner--dark"></div>
                                </div>
                                <div id="wc_cors_wrap"></div>
                                <div data-ng-show="vm.viewPinForm.showNote">Will be visible within <span data-ng-bind="vm.viewPinForm.seconds"></span> seconds.</div>
                            </div>
                            <div class="modal__footer">
                                <button id="wc_cors_button" type="button" class="btn btn--primary"
                                        data-ng-disabled="vm.viewPinForm.loading || vm.viewPinForm.showNote" data-ng-click="vm.viewPin()"
                                        data-ng-bind="vm.pageState.card.cardType == 'Plastic' ? 'View pin' : 'View details'"></button>
                                <button type="button" class="btn btn--flat" data-dismiss="modal" data-ng-click="vm.closeViewPin()">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal--message fade" id="modal_blockCard" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal_valign">
            <div class="modal_valign__row">
                <div class="modal_valign__cell">

                    <div class="modal__dialog" role="document">
                        <div class="modal__content">
                            <button type="button" class="close visible-xs" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                            <div class="modal__body">
                                <h3 data-ng-bind="vm.pageState.card.status == 'Activated' ? 'Block card' : 'Unblock card'"></h3>
                                <div class="text">Do you want to <span data-ng-bind="vm.pageState.card.status == 'Activated' ? 'block' : 'unblock'"></span> this card?</div>
                            </div>
                            <div class="modal__footer">
                                <button type="button" class="btn btn--primary" data-ng-click="vm.blockCard()" data-ng-disabled="vm.blockCardForm.loading">
                                    <span class="spinner spinner--small" data-ng-show="vm.blockCardForm.loading"></span> <span data-ng-hide="vm.blockCardForm.loading" data-ng-bind="vm.pageState.card.status == 'Activated' ? 'Block' : 'Unblock'"></span>
                                </button>
                                <button type="button" class="btn btn--flat" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-show="vm.pageState.action" class="ng-hidden">
        @Html.Partial("_Footer")
    </div>
</div>

@section Scripts{
    <script src="https://api.wavecrest.gi/static/lib/js/wc/wc-cors/1.0/wavecrest-cors.min.js"></script>
    <script type="text/javascript">
        wc_cors.init('https://wcapi.wavecrest.in');
    </script>

    <environment include="Development">
        <script src="~/vendor/jquery.min.js"></script>
        <script src="~/vendor/bootstrap.min.js"></script>
        <script src="~/vendor/angular.min.js"></script>
        <script src="~/vendor/slick.min.js"></script>
        <script src="~/vendor/angular-slick.min.js"></script>
        <script src="~/vendor/qrcode.js"></script>
        <script src="~/vendor/angular-qrcode.js"></script>
        <script src="~/js/app/services/contracts/visaCard.js"></script>
        <script src="~/js/app/services/contracts/cardRequest.js"></script>
        <script src="~/js/app/services/contracts/visaSettings.js"></script>
        <script src="~/js/app/services/cardService.js"></script>
        <script src="~/js/app/services/subscribeService.js"></script>
        <script src="~/js/app/controllers/cardController.js"></script>
        <script src="~/js/app/controllers/subscribeController.js"></script>
        <script src="~/js/app/cardModule.js"></script>
    </environment>
    <environment include="Staging,Production">
        <script src="~/dist/app.min.js"></script>
    </environment>
}